<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - SDS</title>
        <link rel="stylesheet" href="/_static/Site.css" />
        </head>
    <body>
        <header>
            @*<img src="/_static/logo-short.png" />*@
            <h1>Hệ Thống Thư Mục</h1>
            </header>
        <nav>
            @RenderBody()
            </nav>
        <footer>
            &copy; Your Company
            </footer>
        </body>
    </html>
